$text: #3f4648;
$grey: #4f5b67;

.mat-mdc-table {
  background-color: #fff;
  box-sizing: border-box;
  color: $text;
  flex: 1;
}

::ng-deep .mat-mdc-header-cell {
  .mat-sort-header-arrow {
    color: $text;
    opacity: 1;
  }
}

.mat-column-flight_number,
.mat-column-date_local {
  max-width: 120px;
}

mat-cell.mat-column-flight_number {
  padding-left: 35px;
  padding-right: 0;
}

.mat-column-name {
  max-width: 140px;
}

.mat-column-details {
  flex: 2;
}

.mat-mdc-cell {
  padding: 10px 10px 10px 0;

  &.mat-column-links {
    padding: 5px;
  }
}

::ng-deep .mat-mdc-icon-button {
  &:hover {
    background-color: #c5ee93;
  }

  .mat-icon {
    color: $grey;
  }
}

// Visual indicator that launch has a presskit link
.mat-mdc-row,
.mat-mdc-header-row {
  background-color: #fbfbfb;
  color: $text;

  &:nth-child(odd) {
    background-color: #f2f2f2;
  }
}

.linked:hover {
  cursor: pointer;
}

.mat-mdc-paginator {
  background-color: #5bace6;
  color: #000;
}

::ng-deep .mat-mdc-paginator-range-actions {
  .mat-mdc-paginator-icon {
    fill: #1a1a1a;

    .mat-mdc-icon-button {
      color: #1a1a1a;
    }
  }
}
